# Data Programming in Python | BAIS:6040
# Homework 4. Pandas

## Instructions

To complete the homework, fill in the commands needed to finish all of the exercises below. Program everything inside this notebook. If the exercises request that you store information within certain variables, please use those specific variables names (case sensitive).

## Questions

Suppose you have a dataframe <i>df</i> with rows describing the features of diamonds. You do not have to worry about how the dataframe has been created in the below cell.

In [1]:
import numpy as np
from seaborn import load_dataset
df = load_dataset("diamonds")
np.random.seed(0)
df.iloc[np.random.randint(0, len(df), 10), :] = None
df

       carat        cut color clarity  depth  table   price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0   326.0  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0   326.0  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0   327.0  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0   334.0  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0   335.0  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...     ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0  2757.0  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0  2757.0  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0  2757.0  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0  2757.0  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0  2757.0  5.83  5.87  3.64

[53940 rows x 10 columns]

1\. Get the columns of <i>df</i> and store in a variable ans1. (10 pts)

In [2]:
# Your answer here
ans1 = df.columns

In [3]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans1

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

2\. Select the first 10 rows and store in a variable ans2. (10 pts)

In [4]:
# Your answer here
ans2 = df.head(10)

In [5]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans2

   carat        cut color clarity  depth  table  price     x     y     z
0   0.23      Ideal     E     SI2   61.5   55.0  326.0  3.95  3.98  2.43
1   0.21    Premium     E     SI1   59.8   61.0  326.0  3.89  3.84  2.31
2   0.23       Good     E     VS1   56.9   65.0  327.0  4.05  4.07  2.31
3   0.29    Premium     I     VS2   62.4   58.0  334.0  4.20  4.23  2.63
4   0.31       Good     J     SI2   63.3   58.0  335.0  4.34  4.35  2.75
5   0.24  Very Good     J    VVS2   62.8   57.0  336.0  3.94  3.96  2.48
6   0.24  Very Good     I    VVS1   62.3   57.0  336.0  3.95  3.98  2.47
7   0.26  Very Good     H     SI1   61.9   55.0  337.0  4.07  4.11  2.53
8   0.22       Fair     E     VS2   65.1   61.0  337.0  3.87  3.78  2.49
9   0.23  Very Good     H     VS1   59.4   61.0  338.0  4.00  4.05  2.39

3\. Select all rows under the column <i>cut</i> and store in a variable ans3. (10 pts)

In [6]:
# Your answer here
ans3 = df['cut'][:]

In [7]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans3

0            Ideal
1          Premium
2             Good
3          Premium
4             Good
           ...
53935        Ideal
53936         Good
53937    Very Good
53938      Premium
53939        Ideal
Name: cut, Length: 53940, dtype: object

4\. Select all rows in which the cut is Premium and the color is G and the price is greater than 10000 and store in a variable ans4 (10 pts)

In [8]:
# Your answer here
ans4 = df[(df.cut=='Premium') & (df.color=='G') & (df.price > 10000) ]

In [9]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans4

       carat      cut color clarity  depth  table    price     x     y     z
21939   1.35  Premium     G     VS1   62.1   59.0  10012.0  7.06  7.02  4.37
21951   1.51  Premium     G     SI1   58.7   60.0  10020.0  7.55  7.48  4.41
21953   1.51  Premium     G     SI1   60.6   58.0  10020.0  7.47  7.39  4.50
21954   1.51  Premium     G     SI1   59.7   58.0  10020.0  7.50  7.45  4.46
21955   1.51  Premium     G     SI1   62.0   58.0  10020.0  7.31  7.26  4.52
...      ...      ...   ...     ...    ...    ...      ...   ...   ...   ...
27670   2.03  Premium     G     VS2   59.6   60.0  18680.0  8.27  8.21  4.91
27680   2.01  Premium     G     SI2   61.2   57.2  18705.0  8.08  8.14  4.97
27687   1.70  Premium     G    VVS2   59.8   59.0  18718.0  7.70  7.75  4.62
27689   1.72  Premium     G    VVS2   61.8   60.0  18730.0  7.65  7.68  4.74
27725   2.01  Premium     G     SI1   60.3   59.0  18741.0  8.23  8.15  4.94

[365 rows x 10 columns]

5\. Select all rows with any null values and store in a variable ans5. (10 pts)

In [10]:
# Your answer here
ans5 = df[df.isnull().any(axis=1)]

In [11]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans5

       carat   cut color clarity  depth  table  price   x   y   z
2732     NaN  None  None    None    NaN    NaN    NaN NaN NaN NaN
20757    NaN  None  None    None    NaN    NaN    NaN NaN NaN NaN
21243    NaN  None  None    None    NaN    NaN    NaN NaN NaN NaN
30403    NaN  None  None    None    NaN    NaN    NaN NaN NaN NaN
32103    NaN  None  None    None    NaN    NaN    NaN NaN NaN NaN
41993    NaN  None  None    None    NaN    NaN    NaN NaN NaN NaN
42613    NaN  None  None    None    NaN    NaN    NaN NaN NaN NaN
43567    NaN  None  None    None    NaN    NaN    NaN NaN NaN NaN
45891    NaN  None  None    None    NaN    NaN    NaN NaN NaN NaN
52416    NaN  None  None    None    NaN    NaN    NaN NaN NaN NaN

6\. Fill all null values with the last non-null observation forward. Make sure to change <i>df</i>. (10 pts)

In [12]:
# Your answer here
df = df.fillna(method='ffill')

In [13]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
df

       carat        cut color clarity  depth  table   price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0   326.0  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0   326.0  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0   327.0  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0   334.0  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0   335.0  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...     ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0  2757.0  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0  2757.0  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0  2757.0  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0  2757.0  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0  2757.0  5.83  5.87  3.64

[53940 rows x 10 columns]

7\. Get the mean carat,	mean depth, mean table, and mean price and store in variables ans7_1, ans7_2, ans7_3, ans7_4 respectively. (10 pts)

In [14]:
# Your answer here
ans7_1, ans7_2, ans7_3, ans7_4 = df.carat.mean(), df.depth.mean(), df.table.mean(), df.price.mean()

In [15]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans7_1, ans7_2, ans7_3, ans7_4

(0.7979432703003339, 61.74941045606229, 57.45735076010383, 3932.7997033741194)

8\. Get the mean carat, mean depth, mean table, and mean price of premium-cut diamonds and store in variables ans8_1, ans8_2, ans8_3, ans8_4 respectively. (10 pts)

In [16]:
# Your answer here
dff = df[(df.cut=='Premium')]
ans8_1, ans8_2, ans8_3, ans8_4 = dff.carat.mean(), dff.depth.mean(), dff.table.mean(), dff.price.mean()

In [17]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans8_1, ans8_2, ans8_3, ans8_4

(0.8919753444525018, 61.26501087744742, 58.74636693255983, 4584.212617839014)

9\. Get the mean price for each color and store in a dictionary ans9, which has colors as the key and mean results as the value. (10 pts)

In [18]:
# Your answer here
ans9={}
dff1 = df.groupby(["color"]).price.mean()

for key, value in dff1.iteritems():
    ans9[key]=value

In [19]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans9

{'D': 3169.7945387453874,
 'E': 3076.7524752475247,
 'F': 3725.146750524109,
 'G': 3999.231402763018,
 'H': 4486.336062612884,
 'I': 5091.5343905587315,
 'J': 5323.81801994302}

10\. Get a copy of <i>df</i> and store in a variable <i>df2</i> in which the entire dataframe is sorted by <i>carat</i> and <i>price</i> in ascending order. (10 pts)

In [20]:
# Your answer here
df2 = df.sort_values(by=["carat", "price"], ascending=[True,True])

In [21]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
df2

       carat      cut color clarity  depth  table    price      x      y     z
14      0.20  Premium     E     SI2   60.2   62.0    345.0   3.79   3.75  2.27
31591   0.20  Premium     E     VS2   59.8   62.0    367.0   3.79   3.77  2.26
31592   0.20  Premium     E     VS2   59.0   60.0    367.0   3.81   3.78  2.24
31593   0.20  Premium     E     VS2   61.1   59.0    367.0   3.81   3.78  2.32
31594   0.20  Premium     E     VS2   59.7   62.0    367.0   3.84   3.80  2.28
...      ...      ...   ...     ...    ...    ...      ...    ...    ...   ...
25998   4.01  Premium     I      I1   61.0   61.0  15223.0  10.14  10.10  6.17
25999   4.01  Premium     J      I1   62.5   62.0  15223.0  10.02   9.94  6.24
27130   4.13     Fair     H      I1   64.8   61.0  17329.0  10.00   9.85  6.43
27630   4.50     Fair     J      I1   65.8   58.0  18531.0  10.23  10.16  6.72
27415   5.01     Fair     J      I1   65.5   59.0  18018.0  10.74  10.54  6.98

[53940 rows x 10 columns]