# Data Programming in Python | BAIS:6040
# Homework 7. Machine Learning

## Instructions

To complete the homework, fill in the commands needed to finish all of the exercises below. Program everything inside this notebook. If the exercises request that you store information within certain variables, please use those specific variables names (case sensitive).

## Questions

Suppose you have a dataframe <i>dfdi</i> with the features of diamonds.

In [1]:
from seaborn import load_dataset
dfdi = load_dataset("diamonds")
dfdi.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

For questions 1 to 6, let's aim to build a <b>regression</b> model using the diamond dataset that is able to predict the price of a new diamond based on its carat, cut, color, clarity, depth, table, x, y, and z.

1\. There are 3 categorical columns in <i>dfdi</i>: <i>cut</i>, <i>color</i>, and <i>clarity</i>. Convert those columns into numerical columns with the corresponding __category codes__. (10 pts)

In [2]:
# Your answer here
import pandas as pd    
dfdi.cut = pd.Categorical(dfdi.cut) 
dfdi.color = pd.Categorical(dfdi.color) 
dfdi.clarity = pd.Categorical(dfdi.clarity) 
dfdi.cut = dfdi.cut.cat.codes 
dfdi.color = dfdi.color.cat.codes 
dfdi.clarity = dfdi.clarity.cat.codes 
dfdi.head()

   carat  cut  color  clarity  depth  table  price     x     y     z
0   0.23    2      1        3   61.5   55.0    326  3.95  3.98  2.43
1   0.21    3      1        2   59.8   61.0    326  3.89  3.84  2.31
2   0.23    1      1        4   56.9   65.0    327  4.05  4.07  2.31
3   0.29    3      5        5   62.4   58.0    334  4.20  4.23  2.63
4   0.31    1      6        3   63.3   58.0    335  4.34  4.35  2.75

2\. According to the goal description above, there are 9 features and 1 target. Based on those features and target, define the two variables <i>X</i> as a feature dataset and <i>y</i> as a target dataset. (10 pts)

In [3]:
# Your answer here
features = list(dfdi.columns)
features.remove('price')
features
target = "price"
X = dfdi[features]
y = dfdi[target]

3\. Split <i>X</i> and <i>y</i> into two training datasets <i>X_train</i> and <i>y_train</i> and two test datasets <i>X_text</i> and <i>y_test</i>. Set the `test_size` to 0.2 and `random_state` to 0. (10 pts)

In [4]:
# Your answer here
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

4\. Build a new linear regression model and fit the model using the two training datasets. (10 pts)

In [5]:
# Your answer here
from sklearn.linear_model import LinearRegression

lr=LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

5\. Get the training score and test score, respectively. (10 pts)

In [6]:
# Your answer here
print('Training Score ',lr.score(X_train, y_train))
print('Testing Score ',lr.score(X_test, y_test))

Training Score  0.8845598201134782
Testing Score  0.8870759447815817

6\. Suppose there is a new diamond that has the following features. How much would the price be using your linear regression model? (10 pts)

In [7]:
d = {"carat": 0.7,
     "cut": 4,
     "color": 1,
     "clarity": 5,
     "depth": 62.4,
     "table": 60.0,
     "x": 5.57,
     "y": 5.61,
     "z": 3.49}

new_diamond = [d["carat"], d["cut"], d["color"], d["clarity"], d["depth"], d["table"], d["x"], d["y"], d["z"]]
X_new = [new_diamond]

In [8]:
# Your answer here
lr.predict(X_new)

array([3554.15455049])

__For questions 7 to 10__, using the same diamond data, let's aim to build a <b>clustering</b> model that is able to group all diamonds into 10 clusters of similar ones by looking at the same 9 features above along with the target.

We need a copy of <i>dfdi</i> for clustering. Use <i>dfdic</i> for your clustering.

In [9]:
dfdic = dfdi.copy()

For clustering, all you need is just an input dataset <i>X</i>. Let's use all columns in <i>dfdic</i> as features.

In [10]:
X = dfdic

7\. Build a new k-means clustering model <i>kmeans</i>. Set `n_clusters` according to the goal description and `random_state` to 0. Fit the clustering model using the input dataset <i>X</i>. (10 pts)

In [11]:
# Your answer here
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=10, random_state=0)  
kmeans.fit(X)

KMeans(n_clusters=10, random_state=0)

8\. Assign the resulting labels of <i>kmeans</i> to the new column of <i>dfdic</i> called <i>label</i>. (10 pts)

In [12]:
# Your answer here
dfdic["label"] = kmeans.labels_

9\. Check the number of values for each label. (10 pts)

In [13]:
# Your answer here
dfdic.label.value_counts()

5    19118
1     8285
4     6138
8     5943
2     4196
7     3069
9     2392
0     1945
6     1507
3     1347
Name: label, dtype: int64

10\. Select a random sample of <i>dfdic</i> with 30 rows that have the lable 4. For random sampling, set `replace` to False and `random_state` to 0. (10 pts)

In [14]:
# Your answer here
dfdic[dfdic.label == 4].sample(n=30, replace=False, random_state=0)

,carat,cut,color,clarity,depth,table,price,x,y,z,label
5577,0.90,4,1,2,62.9,55.0,3863,6.18,6.22,3.90,4
7176,1.01,4,4,3,58.9,60.0,4185,6.62,6.58,3.89,4
5967,0.90,1,2,2,57.6,60.0,3950,6.34,6.37,3.66,4
6132,1.39,3,5,0,62.6,57.0,3985,7.15,7.10,4.46,4
10668,1.20,3,6,5,60.8,60.0,4839,6.85,6.89,4.18,4
6606,0.91,4,2,3,60.6,56.0,4081,6.27,6.30,3.81,4
8240,1.07,2,2,3,61.9,55.0,4374,6.53,6.58,4.06,4
8738,0.96,3,1,3,58.2,58.0,4462,6.52,6.47,3.78,4
7589,0.91,1,1,2,63.7,64.0,4256,6.09,6.03,3.86,4
8745,1.14,3,4,2,62.1,59.0,4463,6.73,6.61,4.14,4
6011,0.91,3,1,2,61.9,61.0,3961,6.14,6.11,3.79,4
9515,1.11,3,2,3,58.9,60.0,4612,6.80,6.74,3.99,4
11200,1.16,3,5,5,62.2,58.0,4958,6.74,6.67,4.17,4
7624,1.01,4,6,4,61.3,57.0,4262,6.43,6.50,3.96,4
8785,1.00,2,4,2,62.6,57.0,4469,6.40,6.37,4.00,4
9024,1.04,2,4,2,62.7,54.0,4515,6.51,6.47,4.07,4
9351,1.13,2,4,3,62.5,57.0,4584,6.67,6.71,4.18,4
5570,1.08,0,1,3,64.9,60.0,3861,6.43,6.39,4.16,4
9811,1.11,3,3,3,61.5,58.0,4670,6.60,6.67,4.08,4
10459,1.14,3,4,3,60.6,59.0,4788,6.80,6.77,4.11,4
6562,0.92,3,4,5,61.3,58.0,4077,6.21,6.26,3.82,4
6931,1.01,1,2,3,58.2,61.0,4140,6.47,6.53,3.78,4
8479,1.01,4,2,3,62.7,59.0,4416,6.35,6.40,4.00,4
6168,1.08,3,2,3,62.7,58.0,3992,6.53,6.49,4.08,4
9865,1.03,3,0,3,61.7,58.0,4679,6.47,6.50,4.00,4
6623,1.02,4,5,3,62.6,56.0,4084,6.41,6.44,4.02,4
10706,1.09,4,4,2,61.7,59.0,4849,6.53,6.59,4.05,4
7357,0.56,2,0,1,62.4,56.0,4216,5.24,5.28,3.28,4
11147,1.11,3,5,5,60.4,58.0,4942,6.79,6.73,4.08,4
6486,0.90,2,3,2,62.4,57.0,4059,6.15,6.19,3.85,4